@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

$font: Lato, sans-serif;

// colors
$background: #f4f4f4;
$lightGrey: #888;
$lightBlack: #333;
$greyWhite: #ddd;
$white: #fff;
$green: #0FC57C;
$skin: #eee;
$red: #CF2323;
