@import "./config";

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./font/Lato-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: $white;
    font-family: $font;
    color: $lightBlack;
  }